@model List<_5._1EFStackOverflow.Data.Question>


<div class="row">
    <div class="col-md-8 offset-md-2" style="margin-top:100px">

        @foreach (var q in Model)
        {
            <div class="card card-body bg-light">
                <h4>
                    <a href="/questions/viewquestion?id=@q.Id">
                        @q.Title
                    </a>
                </h4>
                <div>
                    <span>Tags:</span>
                    @foreach(var t in q.QuestionsTags)
                    {
                        <span class="badge bg-primary">@t.Tag.Name</span>
                    }
                </div>
                <div style="margin-top: 10px;">
                    @(q.Text.Length < 200 ? q.Text : q.Text.Substring(0,200) + "...")
                </div>
                <span>Likes: @q.Likes.Count</span>
                <br />
                <span>@q.Answers.Count answer(s)</span>
            </div>
        }

    </div>
</div>